$foreground-color: #dd4244;
$background-color: #2d2e49;

$font: "Oxygen Mono", monospace;

$dark: false;

@import url("https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap&subset=latin-ext");

@import "../chroma/solarized-light.scss";

@import "_base.scss";
