$foreground-color: #3a97d4;
$background-color: #1a2037;

$font: "Oxygen Mono", monospace;

$dark: false;

@import url("https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap&subset=latin-ext");

@import "../chroma/friendly.scss";

@import "_base.scss";
