$foreground-color: #f04c31;
$background-color: #194341;

$font: "Oxygen Mono", monospace;

$dark: false;

@import url("https://fonts.googleapis.com/css?family=Oxygen+Mono&display=swap&subset=latin-ext");

@import "../chroma/solarized-light.scss";

@import "_base.scss";
