<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	

	{{ $layout := resources.Get "css/layout.scss" | toCSS | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $layout.Permalink }}" id="layoutCss">

	
	<!-- {{ $style := resources.Get "css/themes/monochrome-light.scss" | toCSS | minify | fingerprint }}
	{{ $style := resources.Get "css/themes/monochrome-dark.scss" | toCSS | minify | fingerprint }}
	{{ $style := resources.Get "css/themes/alexpate-2.scss" | toCSS | minify | fingerprint }}
	{{ $style := resources.Get "css/themes/alexpate-3.scss" | toCSS | minify | fingerprint }}
	{{ $style := resources.Get "css/themes/alexpate-15.scss" | toCSS | minify | fingerprint }}
	{{ $style := resources.Get "css/themes/alexpate-20.scss" | toCSS | minify | fingerprint }}
	{{ $style := resources.Get "css/themes/alexpate-26.scss" | toCSS | minify | fingerprint }}
	{{ $style := resources.Get "css/themes/alexpate-31.scss" | toCSS | minify | fingerprint }}
	{{ $style := resources.Get "css/themes/alexpate-34.scss" | toCSS | minify | fingerprint }}
	{{ $style := resources.Get "css/themes/alexpate-42.scss" | toCSS | minify | fingerprint }}
	{{ $style := resources.Get "css/themes/alexpate-54.scss" | toCSS | minify | fingerprint }}
	{{ $style := resources.Get "css/themes/alexpate-65.scss" | toCSS | minify | fingerprint }}
	{{ $style := resources.Get "css/themes/alexpate-72.scss" | toCSS | minify | fingerprint }}
	{{ $style := resources.Get "css/themes/alexpate-91.scss" | toCSS | minify | fingerprint }}
	{{ $style := resources.Get "css/themes/alexpate-96.scss" | toCSS | minify | fingerprint }} -->


	{{ $themeName := print "css/themes/" $.Site.Params.colorScheme ".scss" }}
	{{ $style := resources.Get $themeName | toCSS | minify | fingerprint }}

	<link rel="stylesheet" href="{{ $style.Permalink }}" id="themeCss">

	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
</html>
